<div class="navbar">
  <div class="navbar-inner">    
    <ul class="nav"> 
	    <li class="active"><%= link_to "Home", blorgh.root_path %></li>
   
    </ul>
	  
	      <ul class="nav">
  	      <li><%= link_to "Posts", '#' %></li>	                 	      
  	    </ul>
	      <ul class="nav pull-right">
	        <li><%= link_to "Admin", '#' %></li>	        
	      </ul>	      
	    <% end %>	 
	  </ul>
  </div>
</div>